<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--(1)出力先(ターゲット)の設定-->
  <targets>
    <target name="debugger" xsi:type="Debugger" />
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/logfile.txt"
        archiveFileName="${basedir}/archives/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />
    <target name="method" xsi:type="MethodCall" className="TWT.Utils.NLog.NlogReceiver, TWT.Models" methodName="Receive">
      <parameter layout="${date:universalTime=false:format=O}" />
      <parameter layout="${level}" />
      <parameter layout="${message}" />
    </target>
  </targets>

  <!--(2)出力ルールの設定-->
  <rules>
    <!--
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="method" />
      -->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>